*{
    margin: 20px;
}
h1{
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
}
main div img {
    width: 350px;
    height: 350px;
    padding-left: 70px;
}

main ul{
    font-size: 20px;
}
main ul li{
    margin: 20px;
}
.note{
   
   font-weight: bold;
}
main p{
    font-size: 20px;
    padding: 10px;
}